[submodule "lein/leiningen"]
	path = lein/leiningen
	url = https://github.com/technomancy/leiningen.git
[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
