[user]
	name = Bhee
	email = me@bheesham.com
[core]
    excludesfile = /Users/bheesham/.gitignore_global
[diff]
    tool = tkdiff
[push]
    default = current
[submodule]
    recurse = true
[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
